@use 'variaveis';

.footer{
    padding: 26px 8px;
    &__container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;


        p{
            margin-bottom: 16px;
        }
    }

    &__links{
        margin-bottom: 16px;
        &__item{
            display: inline-block;

            a{
                text-decoration: none;
                padding: 8px 16px;
                display: block;

                &:hover{
                    color: variaveis.$corTex1;
                }
            }

        }
    }
}