@use 'variaveis';

.footer{
    padding: 26px 8px;
    &__container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;


        p{
            margin-bottom: 16px;
        }

        &__logo{
            height: 50px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    }

    &__links{
        margin-bottom: 16px;
        &__item{
            display: inline-block;

            a{
                text-decoration: none;
                padding: 5px 16px;
                display: block;

                &:hover{
                    color: variaveis.$corTex1;
                }
            }

            &__icon{
                color: rgb(3, 3, 148);
            }

        }
    }
}