@use 'variaveis';

.footer{
    padding: 26px 8px;
    &__container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;


        p{
            margin-bottom: 16px;
        }

        &__logo{
            height: 50px;
            border-radius: 50%;
            margin-bottom: 20px;
        }

        &__universidades{
            background-color: rgb(255, 255, 255);
            display: flex;
            padding: 0;
            list-style: none;

            justify-content: center; /* Centraliza horizontalmente */
            align-items: center; /* Centraliza verticalmente */

            &__item{
                margin: 0 15px;
                img{
                    height: 35px;
                }
            }
        }
    }

    &__links{
        margin-bottom: 16px;
        &__item{
            display: inline-block;

            a{
                text-decoration: none;
                padding: 5px 16px;
                display: block;

                &:hover{
                    color: variaveis.$corTex1;
                }
            }

            &__icon{
                color: #005F70;
            }

        }
    }
}
