@use 'variaveis';

.hero{
    padding-top: 5.6vw;
    min-height: 90vh;
    background-image: url(/src/images/mulher-hero.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__content{
        position: relative;
        max-width: 640px;

        &__branding{
            font-size: 3rem; // Ajustar o tamanho da fonte para telas menores
            text-shadow: 2px 2px 4px rgb(0, 0, 0.9);
        }

        &__branding__h3{
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
            font-size: 1rem;
        }
        


        &title--small{
            margin-bottom: 20px;
        }
    
        &__combos{
            display: flex;
            justify-content: space-between;

            &__combo{
                width: calc(50% - 12px);
                display: block;
                list-style: none;
            }
        }
    }
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        content: '';
        opacity: 0.4;
    }

       
    @media screen and (max-width: 768px) {
        background-image: url(/src/images/mulher-hero.jpg);

        padding-top: 70vw; // Aumentar o preenchimento para telas menores

        &__content {
            max-width: 100%; // Permitir que o conteúdo ocupe a largura total
            &__branding{
                font-size: 3rem; // Ajustar o tamanho da fonte para telas menores
                text-shadow: 2px 2px 4px rgb(0, 0, 0.9);
                font-family: sans-serif;
            }
    
            &__branding__h3{
                font-size: 1rem;
                text-shadow: 2px 2px 4px rgb(0, 0, 0.9);
                font-family: sans-serif;
            }

            &__combos {
                &__combo {
                    width: 100%; // Fazer os combos ocuparem toda a largura em telas menores
                }
            }
        }
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            content: '';
            opacity: 0.4;
        }
    }
}