.plans{
    padding: 5.6vw;

    h2{
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-top: 50px;
        
        &__item{
            text-align: center;
            padding: 64px 44px 44px;
            max-width: 380px;
            width: 100%;

            :nth-child(2)

            img{
                height: 83px ;
                
            }
            strong{
                display: block;
                margin-top: 24px;
            }
        }
    }

    p{
        text-align: center;
    }
}