.plans{
    padding: 5.6vw 5.6vw 0 5.6vw;

    h2, h3{
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-top: 50px;
        
        &__item, &__itemspace{
            text-align: center;
            padding: 0px 44px 44px;
            max-width: 380px;
            width: 100%;

            :nth-child(2)

            img{
                height: 83px ;
                
            }
            strong{
                display: block;
                padding: 24px 0px 24px 0px;
            }

            &__title{
                color: white;
            }

            &__beneficios{
                display: flex;
                list-style: none;

                i{
                    padding-right: 18px;
                    color: rgb(188, 66, 52);
                    font-size: 25px;
                }
            }

            &__olhos{
                width: 250px;
                height: 90px;
            }

            .buttonspace{
                margin-top: 83px;
            }

            p{
                text-align: start;
            }
        }
    }

    .description_plan{
        text-align: center;
    }

    @media screen and (max-width: 768px){
        h2{
            text-align: center;
            font-size: 2rem;;
        }
        &__list{
            display: block;
            align-items: center;
            padding: 5vw 5vw;
            &__item{
                padding: 0px 0px 80px;

                .aviso{
                    padding-top: 15px;
                }

                strong{
                    padding: 24px 0px 24px 0px;
                }
            
            }

            &__itemspace{
                padding: 0px 0px 0px;
                .aviso{
                    padding-top: 15px;
                }

                strong{
                    padding-bottom: 24px;
                }

                .buttonspace{
                    margin-top: 0px;
                }    
            }
        }
    }
}
